<body>
    <div class="panel panel-info">
        <div class="panel-heading"><i class="fa Example of envelope fa-envelope" aria-hidden="true"></i>  Contact Us </div>
        <div class="panel-body" align = "center">
            You can contact us trough our email <a href="mailto:eduardobrito14@gmail.com">eduardobrito14@gmail.com</a> <br> <br>
            We are located in Porto Alegre - RS - Brazil <br>
            <div class="embed-responsive embed-responsive-4by3" max-width="600" max-height="500" >
                <iframe  class="embed-responsive-item" max-width="600" max-height="500" frameborder="0" scrolling="no" marginheight="0"
                src="https://maps.google.com/maps?q=Porto Alegre, BR silva jardim , &t=&z=14&ie=UTF8&iwloc=&output=embed" marginwidth="0">
                <a class="addmaps" href="http://www.map-embed.com"id="get-map-data" mce_href="http://maps.google.com/maps/api/js?sensor=false">Porto Alegre, BR silva jardim , </a>
                <style>#gmap_canvas img{max-width:none!important;background:none!important}</style></iframe>
            </div>

        </div>
    </div>

</body>
