<body>
    <header id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000">

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">

            <div class="item  active">
                <a href="#movies#top">
                <div class="fill" style="background-image:url('resources/images/header-tape.jpeg');"></div>
                <div class="carousel-caption">
                    <h3>
                        See the upcoming movies
                    </h3>
                    <p>
                        You can lookup and see which movies are close to being released!
                    </p>
                </div>
                </a>
            </div>
            <div class="item">
                <a href="#search#top">
                <div class="fill" style="background-image:url('resources/images/header-tv.jpg');"></div>
                <div class="carousel-caption">
                    <h3>
                        Discover
                    </h3>
                    <p>
                        Discover movies that you never thought they existed!
                    </p>
                </div>
            </a>
            </div>
            <div class="item">
                <a href="#search#top">
                <div class="fill" style="background-image:url('resources/images/header-popcorn.jpg');"></div>
                <div class="carousel-caption">
                    <h3>
                        Find your movies
                    </h3>
                    <p>
                        Search the movies you want to know more!
                    </p>
                </div>
            </a>
            </div>

        </div>

    </header>

    <div class="container">
           <div class="row">
               <div class="col-lg-12">
                   <h1 class="page-header" style="color: white">
                       Welcome to Movies Desktop App!
                   </h1>
               </div>
               <div class="col-md-4">
                   <div class="panel panel-info">
                       <div class="panel-heading">
                           <h4><i class="fa  fa-search"></i> Find what you are looking for!</h4>
                       </div>
                       <div class="panel-body">
                           <p>Want to know more about a movie? No problem! Use our search and find any movie you want and see details of each one of them.</p>
                           <a href="#search#top" class="btn btn-info">Learn More</a>
                       </div>
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="panel panel-info">
                       <div class="panel-heading">
                           <h4><i class="fa fa-eye"></i> See what movies are next on the big screen!</h4>
                       </div>
                       <div class="panel-body">
                           <p>You can see a list of upcoming movies, see their details and much more!</p>
                           <a href="#movies#top" class="btn btn-info">Learn More</a>
                       </div>
                   </div>
               </div>
               <div class="col-md-4">
                   <div class="panel panel-info">
                       <div class="panel-heading">
                           <h4><i class="fa fa-plus-square"></i> New Features coming soon!</h4>
                       </div>
                       <div class="panel-body">
                           <p>We are working hard to release new features. Stay tuned!</p>

                       </div>
                   </div>
               </div>
           </div>
       </div>
       <!-- /.container -->

</body>
