<body>
    <ul class="list-group" >

        <input type="text" ng-model="query" placeholder="Search" /><button type="button" class="btn btn-primary" ng-click="search(query)">Search</button>
        <br>
        <br>
        <button class="list-group-item list-group-item-info"   data-toggle="modal" ng-click="getDetail(movie)"  data-target="#popUp"  y ng-repeat="movie in movies" >{{movie.title}}
        </button>

        <div id="popUp" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button  type="button" class="close"  data-dismiss="modal"></button>
                        <h4 class="modal-title">Details</h4>
                    </div>
                    <div class="modal-body">
                        <img src="https://image.tmdb.org/t/p/w300_and_h450_bestv2{{currentMovie.poster_path}}"> <br>
                        <h4>Original Title:</h4> <p>{{currentMovie.original_title}}</p>
                        <h4>Genre:</h4> <p>{{currentMovie.currentGenres}}</p>
                        <h4>Overview:</h4> <p>{{currentMovie.overview}}</p>
                        <h4>Release Date:</h4> <p>{{currentMovie.release_date}}</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>



    </ul>

</body>
